.reduced-line-height {
    line-height: 1.5; 
    margin: 0;
}
.title-data-cita-selected{
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-cita-selected-container{
    margin-top: 5%;
    width: 100%;
}

.data-cita-selected-checkbox-inactivate-cita{
    display: flex;

}
