{
    "openapi": "3.0.0",
    "info": {
        "title": "Api sistema de agendacion de citas asopormen",
        "description": "Api para la gestion de citas a usuarios de la ips Asopormen.sp",
        "termsOfService": "https://asopormen.org.co/",
        "contact": {
            "name": "Equipo de soporte",
            "email": "msolegario.cisneros@gmail.com"
        },
        "license": {
            "name": "Licencia",
            "url": "https://example.com/license"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://citas.asopormen.co:8081/"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Iniciar sesión",
                "description": "Autentica a un usuario utilizando su cédula y contraseña, y devuelve un token JWT junto con la información del usuario.",
                "operationId": "a3b306d14572d1f4bd6c064b3233e7b8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "cedula",
                                    "password"
                                ],
                                "properties": {
                                    "cedula": {
                                        "type": "string",
                                        "example": "1098707063"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Autenticación exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "access_token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                        },
                                        "data": {
                                            "properties": {
                                                "cedula": {
                                                    "type": "string",
                                                    "example": "1098707063"
                                                },
                                                "usuario": {
                                                    "type": "string",
                                                    "example": "Sergio Avila"
                                                },
                                                "estado": {
                                                    "type": "string",
                                                    "example": "activo"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Credenciales incorrectas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "bad request"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "credenciales incorrectas"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Cerrar sesión",
                "description": "Invalida el token JWT del usuario actual y realiza el logout.",
                "operationId": "fe8f3429cd6979b3b4517e186505f9f9",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "Authorization": {
                                        "type": "string",
                                        "example": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Logout exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "logout exitoso"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token no proporcionado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "logout exitoso"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Actualizar token",
                "description": "Actualiza el token JWT del usuario actual.",
                "operationId": "2c27d311a2876560fcb5a754b556cdc5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "Authorization"
                                ],
                                "properties": {
                                    "Authorization": {
                                        "type": "string",
                                        "example": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token no proporcionado o inválido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "token not found"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 401
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Obtener información del usuario actual",
                "description": "Devuelve los detalles del usuario autenticado usando el token JWT proporcionado en el encabezado `Authorization`.",
                "operationId": "9d9bc556f927575aa492a88c28fe5908",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Authorization": {
                                        "type": "string",
                                        "example": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Información del usuario recuperada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "cedula": {
                                                    "type": "string",
                                                    "example": "1098707063"
                                                },
                                                "usuario": {
                                                    "type": "string",
                                                    "example": "Sergio"
                                                },
                                                "estado": {
                                                    "type": "string",
                                                    "example": "active"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token no proporcionado o inválido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "token not found"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 401
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User not found"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        },
                                        "data": {
                                            "type": "object",
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/login_client": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Inicio de sesión para clientes",
                "operationId": "bb913e3dba732a8869e9c180b781b703",
                "requestBody": {
                    "description": "Credenciales del cliente para autenticación",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "cedula",
                                    "password"
                                ],
                                "properties": {
                                    "cedula": {
                                        "type": "string",
                                        "example": "123456789"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "mypassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Inicio de sesión exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "access_token": {
                                            "type": "string",
                                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                                        },
                                        "data": {
                                            "properties": {
                                                "nombre": {
                                                    "type": "string",
                                                    "example": "Juan Pérez"
                                                },
                                                "codigo": {
                                                    "type": "string",
                                                    "example": "CLI-001"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Credenciales incorrectas o datos inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Credenciales incorrectas"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Usuario no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "No se ha encontrado un usuario con la cédula proporcionada."
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Error en la autenticación"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get_centrals_office": {
            "get": {
                "tags": [
                    "Sedes"
                ],
                "summary": "Obtener listado de sedes centrales",
                "description": "Obtiene una lista de las sedes centrales con su código, nombre y dirección.",
                "operationId": "55ef37f1dfd307d4a08d5e7a8341627e",
                "responses": {
                    "200": {
                        "description": "Listado de sedes encontrado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "cod": {
                                                "type": "string",
                                                "example": "001"
                                            },
                                            "nombre": {
                                                "type": "string",
                                                "example": "Sede Principal"
                                            },
                                            "direccion": {
                                                "type": "string",
                                                "example": "Calle 123 #45-67, Ciudad"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No se encontraron sedes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "No se encontraron sedes"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/citas/create_citas": {
            "post": {
                "tags": [
                    "Citas"
                ],
                "summary": "Crear un grupo de citas",
                "description": "Crea un grupo de citas con los datos del usuario, del profesional, de la sede y otros detalles relacionados a la cita. Retorna el número de citas creadas exitosamente.",
                "operationId": "97302bd94725e4126cf555070e156adb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "ced_usu",
                                    "registro",
                                    "cedprof",
                                    "sede",
                                    "direccion_cita",
                                    "nro_hist",
                                    "codent",
                                    "codent2",
                                    "n_autoriza",
                                    "procedim",
                                    "tiempo",
                                    "procedipro",
                                    "duration_session",
                                    "start_date",
                                    "week_days",
                                    "num_citas",
                                    "num_sessions",
                                    "all_sessions",
                                    "saved_sessions"
                                ],
                                "properties": {
                                    "ced_usu": {
                                        "type": "string",
                                        "example": "1098707063"
                                    },
                                    "registro": {
                                        "type": "string",
                                        "example": "Sergio Avila"
                                    },
                                    "cedprof": {
                                        "type": "string",
                                        "example": "1029384756"
                                    },
                                    "sede": {
                                        "type": "string",
                                        "example": "001"
                                    },
                                    "direccion_cita": {
                                        "type": "string",
                                        "example": "Calle 123 #45-67, Ciudad"
                                    },
                                    "nro_hist": {
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "codent": {
                                        "type": "string",
                                        "example": "ABC001"
                                    },
                                    "codent2": {
                                        "type": "string",
                                        "example": "CONV001"
                                    },
                                    "n_autoriza": {
                                        "type": "string",
                                        "example": "AUT123456"
                                    },
                                    "procedim": {
                                        "type": "string",
                                        "example": "Procedimiento A"
                                    },
                                    "tiempo": {
                                        "type": "string",
                                        "example": "pro028"
                                    },
                                    "procedipro": {
                                        "type": "string",
                                        "example": "Terapia Física"
                                    },
                                    "recordatorio_wsp": {
                                        "description": "Opcional",
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "duration_session": {
                                        "type": "integer",
                                        "example": 45
                                    },
                                    "regobserva": {
                                        "description": "Opcional",
                                        "type": "string",
                                        "example": "Observaciones de la cita"
                                    },
                                    "start_date": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-09-10T15:30:00Z"
                                    },
                                    "week_days": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Lunes",
                                            "Miércoles"
                                        ]
                                    },
                                    "num_citas": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "num_sessions": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "all_sessions": {
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "saved_sessions": {
                                        "type": "integer",
                                        "example": 10
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Cita creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "created"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "data": {
                                            "description": "Número de citas creadas",
                                            "type": "integer",
                                            "example": 50
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Solicitud incorrecta",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "bad request"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Datos incorrectos proporcionados"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/citas/get_num_citas/{authorization}/{procedim}": {
            "get": {
                "tags": [
                    "Citas"
                ],
                "summary": "Obtener número de citas por autorización y procedimiento que no han sido canceladas",
                "description": "Obtiene el número de citas registradas para una autorización específica y un procedimiento determinado.",
                "operationId": "147b4a3b51bcab23867de23dc3b9c892",
                "parameters": [
                    {
                        "name": "authorization",
                        "in": "path",
                        "description": "Número de autorización",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "AUT123456"
                        }
                    },
                    {
                        "name": "procedim",
                        "in": "path",
                        "description": "Código o nombre del procedimiento",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Procedimiento A"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Número de citas encontrado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "description": "Número de citas encontradas",
                                            "type": "integer",
                                            "example": 5
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No se encontraron citas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "No se encontraron citas"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/citas/get_citas_client": {
            "post": {
                "tags": [
                    "Citas"
                ],
                "summary": "Obtener citas de un cliente en un rango de tiempo",
                "description": "Recupera todas las citas de un cliente específico dentro de un rango de tiempo proporcionado.",
                "operationId": "3e8aa5496b8d139287d7106d809191a2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "codigo",
                                    "startDate",
                                    "endDate"
                                ],
                                "properties": {
                                    "codigo": {
                                        "description": "Código del cliente",
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "startDate": {
                                        "description": "Fecha de inicio del rango en formato Y-m-d",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-09-01"
                                    },
                                    "endDate": {
                                        "description": "Fecha de fin del rango en formato Y-m-d",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-09-30"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Citas encontradas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "fecha": {
                                                        "type": "string",
                                                        "example": "2023-09-05"
                                                    },
                                                    "hora": {
                                                        "type": "string",
                                                        "example": "10:00 AM"
                                                    },
                                                    "procedimiento": {
                                                        "type": "string",
                                                        "example": "Consulta médica"
                                                    },
                                                    "sede": {
                                                        "type": "string",
                                                        "example": "Sede Central"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Rango de fechas no válido o faltan parámetros",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "bad request"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "El rango de fechas no es válido"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No se encontraron citas para el cliente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "No se encontraron citas para el cliente en el rango de tiempo especificado"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/citas/{id}": {
            "get": {
                "tags": [
                    "Citas"
                ],
                "summary": "Obtener detalles de una cita por ID",
                "description": "Recupera los detalles de una cita específica utilizando su ID. La respuesta incluye información como fecha, hora, procedimiento, observaciones, y más.",
                "operationId": "86183714c61e3afdf809772ccd965a7d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la cita",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 123
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalles de la cita recuperados exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 123
                                                },
                                                "fecha": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2024-09-10"
                                                },
                                                "hora": {
                                                    "type": "string",
                                                    "format": "time",
                                                    "example": "15:00"
                                                },
                                                "hora_asignacion": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2024-09-10T14:00:00Z"
                                                },
                                                "procedimiento": {
                                                    "type": "string",
                                                    "example": "Consulta General"
                                                },
                                                "observaciones": {
                                                    "type": "string",
                                                    "example": "Llevar cedula y orden"
                                                },
                                                "asistida": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "cancelada": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "no_asistida": {
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "orden": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "duracion": {
                                                    "type": "string",
                                                    "example": "60"
                                                },
                                                "direccion": {
                                                    "type": "string",
                                                    "example": "Calle 123 #45-67, Ciudad"
                                                },
                                                "usuario": {
                                                    "type": "string",
                                                    "example": "Juan Pérez"
                                                },
                                                "profesional": {
                                                    "type": "string",
                                                    "example": "Dr. María López"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Cita no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Cita no encontrada"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Citas"
                ],
                "summary": "Cancelar una cita por ID",
                "description": "Cancela una cita específica por su ID si es cancelable. El campo 'data' en la respuesta es null.",
                "operationId": "2f578adea4d4e89bcc4296876876d8ea",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la cita a cancelar",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 123
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cita cancelada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Cita no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "cita no encontrada"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Citas"
                ],
                "summary": "Eliminar una cita por su ID",
                "description": "Elimina una cita específica por su ID si esta no ha sido marcada como cancelada, asistida o no asistida.",
                "operationId": "d46d3578504d092c2b84eb208849ca11",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la cita",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 123
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cita eliminada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "cita con id 123 was deleted successfully"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "No es posible eliminar la cita",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "bad request"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "no es posible eliminar esta sección"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Cita no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Cita no encontrada"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/citas/delete_all_citas": {
            "post": {
                "tags": [
                    "Citas"
                ],
                "summary": "Eliminar todas las citas de un profesional en un día específico",
                "description": "Elimina todas las citas eliminables de un profesional especificado por su cédula en una fecha determinada. La fecha debe estar en formato Y-m-d.",
                "operationId": "79c10bbd97d5d67560f86607721788aa",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "profesional_identity",
                                    "day"
                                ],
                                "properties": {
                                    "profesional_identity": {
                                        "description": "Cédula del profesional",
                                        "type": "string",
                                        "example": "1098707063"
                                    },
                                    "day": {
                                        "description": "Fecha en formato Y-m-d",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2023-09-15"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Citas eliminadas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "description": "Número de citas eliminadas",
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Solicitud incorrecta o parámetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "bad request"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Parámetros inválidos o falta de datos"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No se encontraron citas para eliminar",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "No se encontraron citas para eliminar en la fecha y cédula especificadas"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Server error"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": []
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/citas/get_citas_profesional": {
            "post": {
                "tags": [
                    "Citas"
                ],
                "summary": "Obtener citas de un profesional en un rango de fechas",
                "operationId": "caefb9e939aa7b285453ee950837b68e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "cedula",
                                    "startDate",
                                    "endDate"
                                ],
                                "properties": {
                                    "cedula": {
                                        "description": "Cédula del profesional",
                                        "type": "string",
                                        "example": "12345678"
                                    },
                                    "startDate": {
                                        "description": "Fecha de inicio en formato Y-m-d",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-03-01"
                                    },
                                    "endDate": {
                                        "description": "Fecha de fin en formato Y-m-d",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-03-10"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Citas obtenidas exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "calendar": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "fecha": {
                                                                "type": "string",
                                                                "format": "date",
                                                                "example": "2025-03-05"
                                                            },
                                                            "hora": {
                                                                "type": "string",
                                                                "example": "10:00 AM"
                                                            },
                                                            "autorizacion": {
                                                                "type": "string",
                                                                "example": "Aprobado"
                                                            },
                                                            "procedimiento": {
                                                                "type": "string",
                                                                "example": "Consulta General"
                                                            },
                                                            "usuario": {
                                                                "type": "string",
                                                                "example": "Juan Pérez"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "schedule": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "start": {
                                                                "type": "string",
                                                                "example": "10:00 AM"
                                                            },
                                                            "end": {
                                                                "type": "string",
                                                                "example": "10:30 AM"
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Consulta General"
                                                            },
                                                            "color": {
                                                                "type": "string",
                                                                "example": "#FF5733"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Validación fallida",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "bad request"
                                        },
                                        "error": {
                                            "type": "object",
                                            "example": {
                                                "cedula": [
                                                    "El campo cédula es obligatorio."
                                                ]
                                            }
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "unauthorized"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Token inválido o expirado"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 401
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No se encontraron citas en este periodo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "El profesional no registra citas en este periodo de tiempo"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 404
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "failed"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "Error en la base de datos"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "data": {
                                            "type": "null",
                                            "example": null
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/citas/confirm_all_sessions_cita": {
            "post": {
                "tags": [
                    "Citas"
                ],
                "summary": "Confirmar múltiples sesiones de citas",
                "operationId": "d7323178bc9757d2381d9ecc21cba9c1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
[...]
