
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.modal-visualizer-case {
    background: #ffffff;
    padding: 20px;
    width: 90vw;   
    max-height: 90vh; /* Para que no se pase del viewport */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Permite scroll si el contenido es muy grande */
}
.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.nav-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

/*  Flecha izquierda */
.nav-arrow.left {
    left: 10px;
}

/*  Flecha derecha */
.nav-arrow.right {
    right: 10px;
}



.modal-visualizer-case img {
    width: auto;
    height: 500px;
    max-width: none;
    max-height: none;
}
.modal-footer{
    display: flex;
}
/* Estilos para el contador de im谩genes */
.navigate-carosel-display-cases {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #ccc;
}

/* Bot贸n de Rechazar */
.reject-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.reject-btn:hover {
    background-color: #a71d2a;
}

/* Bot贸n de Aceptar */
.accept-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.accept-btn:hover {
    background-color: #1e7e34
}

/* Bot贸n de Cerrar */
.close-btn {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.close-btn:hover {
    background-color: #545b62;
}

/* Bot贸n deshabilitado (no seleccionable) */
.no-selectable {
    background-color: #ccc;
    color: #666;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: not-allowed;
    opacity: 0.7;
}