.inputs-date{
    display:flex;
}
.get-date{
    display:flex;
    flex-direction: column;
}
.get-schedule-client img {
    margin-left: 30%;
    margin-top: 20px;
    height: 25px;
    width: 40px;
}
.get-pdf img {
    margin-left: 30%;
    margin-top: 20px;
    height: 25px;
    width: 40px;
}

.get-pdf .search{
    margin-left: 40%;
    margin-top: 20px;
}
a{
  cursor: pointer;  
}
.iconos-cita-cli{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.icono-citas-cli{
    height: 30px;
    width: auto;
    margin-right: 40px;  
    margin: 0%;
}