.procedures-container{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 1%;

    border-radius: 5px;
}
.search-select-procedure{
    display:flex;
}
.info-procedure{
    display:flex;
}
.checboxs-remember-whtsapp{
    display:flex
}