.select-orden{
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1%; 
    
}
.data-order{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.get-order{
    border: 1px solid #ccc;
    padding: 1%;
    border-radius: 5px;
 
}
.create-cita{
    width: 40%;
    height: auto;
}
@media screen and (max-width: 768px)  {
    .select-orden{

        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 1%; 
    } 
    .data-order{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1%;
    }
    .create-cita{
        width: 100%;
        height: auto;
    }
}