.select-orden-4{
    display: flex;
    flex-direction: column; 
}
.select-orden select{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background: #f1f1f1;
}

.table-orders {
    width: 100%;
    overflow-x: auto; 

}

.table-orders table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Asegura que las columnas tengan un ancho fijo */
}

.table-orders thead th {
    height: 20px; /* Reduce la altura del encabezado */
    font-size: 14px; /* Reduce el tamaño de la fuente del encabezado */
    color: #f1f1f1;
    text-align: center;
    padding: 4px; /* Espacio interior del encabezado */
    background: #1b0dd3;
}

.table-orders tbody td {
    height: 25px; /* Reduce la altura de las celdas */
    font-size: 12px; /* Reduce el tamaño de la fuente del cuerpo */
    padding: 4px; /* Espacio interior de las celdas */
    overflow: hidden;
    text-overflow: ellipsis; /* Texto truncado con puntos suspensivos */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.table-orders tbody {
    display: block;
    height: 100%; /* Altura máxima antes de que aparezca el scroll */
    overflow-y: auto; /* Scroll vertical para el cuerpo de la tabla */
}

.table-orders thead,
.table-orders tbody tr {
    display: table;
    width: 98%;
    table-layout: fixed;
}

.table-orders thead th:nth-child(1),
.table-orders tbody td:nth-child(1) {
    width: 15%; /* Ancho de la primera columna */
}

.table-orders thead th:nth-child(2),
.table-orders tbody td:nth-child(2) {
    width: 70%; /* Ancho de la segunda columna */
}

.table-orders thead th:nth-child(3),
.table-orders tbody td:nth-child(3) {
    width: 10%; /* Ancho de la tercera columna */
}

/* Estilo para filas seleccionadas */
.table-orders tr.selected {
    background-color: green; /* Color de fondo para fila seleccionada */
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre la fila */
}

.table-orders tr:hover {
    background-color: #f5f5f5; /* Color de fondo al pasar el mouse sobre la fila */
}

