.select-orden-4{
    display: flex;
    flex-direction: column; 
}
.select-orden select{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background: #f1f1f1;
}

.table-orders {
    width: 100%;
    overflow-x: auto; 

}

.table-orders table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

.table-orders thead th {
    height: 20px; 
    font-size: 14px; 
    color: #f1f1f1;
    text-align: center;
    padding: 4px; 
    background: #1b0dd3;
}

.table-orders tbody td {
    height: 25px;
    font-size: 12px; 
    padding: 4px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.table-orders tbody {
    display: block;
    height: 100%;
    overflow-y: auto; 
}

.table-orders thead,
.table-orders tbody tr {
    display: table;
    width: 98%;
    table-layout: fixed;
}

.table-orders thead th:nth-child(1),
.table-orders tbody td:nth-child(1) {
    width: 15%;
}

.table-orders thead th:nth-child(2),
.table-orders tbody td:nth-child(2) {
    width: 70%; 
}

.table-orders thead th:nth-child(3),
.table-orders tbody td:nth-child(3) {
    width: 10%; 
}


.table-orders tr.selected {
    background-color: rgb(243, 240, 92); 
    cursor: pointer; 
}



