.slogan-logo{
    display: flex;
    width: 100%;
    height: auto;
}
.slogan, .logo-1{
    flex: 1;
    width: 50%;


}
.slogan{
     display: flex;

}
.logo-1{
 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-1 img{
    height: 80px;
    margin-left:2%;
    margin-right: 2%;
}
.slogan-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    font: oblique bold 120% cursive;
    font-family: "Segoe UI";
    font-size: 190%;
    text-align: center;
    word-spacing: 8px;
    letter-spacing: 0px;
    text-align: right;
    max-width: 100%;
}
.portal{
    font-weight: 100;
    margin-right: 10px;
    font: oblique bold 120% cursive;
    font-family: "Segoe UI";
    font-size: 1.5rem;
}
.usuarios{
    font-weight: 900;
    margin-right: 10px;
    font: oblique bold 120% cursive;
    font-family: "Segoe UI";
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .slogan-logo{
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .slogan, .logo-1{
        flex: 1;
        width: 50%;
    
    
    }
    .slogan{
         display: flex;
    
    }
    .logo-1{
     
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .logo-1 img{
        height: 80px;
        margin-left:2%;
        margin-right: 2%;
    }
    .slogan-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: black;
        font: oblique bold 120% cursive;
        font-family: "Segoe UI";
        font-size: 190%;
        text-align: center;
        word-spacing: 8px;
        letter-spacing: 0px;
        text-align: right;
        max-width: 100%;
    }
    
    .portal{
        font-weight: 100;
        margin-right: 10px;
        font: oblique bold 120% cursive;
        font-family: "Segoe UI";
        font-size: 1.3rem;
    }
    .usuarios{
        font-weight: 900;
        margin-right: 10px;
        font: oblique bold 120% cursive;
        font-family: "Segoe UI";
        
    }
}
@media (max-width: 480px) {
    .slogan-text {
        display: none;
    }
}


